/* 
    Document   : seb
    Created on : 18 sept. 2012, 17:54:19
    Author     : Seb
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.form #etablissement-form {
    
    background: white url(school.png) no-repeat right top;
    
}

.form textarea {
    
    width: 421px;
    font-weight: bold;
    color: #666666;
}

.form input[type=text] {
    
    width: 423px;
    font-weight: bold;
    color: #666666;
    
}



.form .buttons input {
    
    cursor: pointer;
    background: white url(bg_2.gif) repeat-x left top;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}

.form .buttons input:hover {
    
    background: white url(bg_1.gif) repeat-x left top;
    
}
.form {
    
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #C9C9C9;
    
}

.infos-etab-left {
    padding: 20px;
    padding-right: 0;
    width: 344px;
    float: left;
}

.infos-etab-right {
    padding-right: 20px;
    padding-top: 70px;
    padding-left: 0;
    width: 240px;
    float: right;
}

.clear { clear: both}

.viewEtablissement {
    
    background: #e8e8e9 url(school_min.png) no-repeat right top;
    
}

.nbClasseEtab {
    font-size : 12px;
    font-weight : bold;
    color:#7272B9;
}

.puce {
    vertical-align: middle;
}

#enseignant-grid {
   padding-bottom: 0;
}

#enseignant-grid table{
   margin-bottom: 10px;
}

#formCheckAll {
    margin-left: 25px;
}

#spanInfoImprim {
    float: left;
    color: #666666;
    font-weight: bold;
    padding-top: 25px;
    width: 100%;
    text-align: center;
}